@mixin centered-block($maxWidth: 600px) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
}

header,
footer,
div.great-container {
  @include centered-block();
  .section {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

ul {
  margin: 24px;
}

header {
  margin-top: 64px;
}

img.banner {
  @include centered-block(min(1060px, 100%));
}

div.header-separator {
  display: flex;
  flex-flow: row nowrap;
}

div.header-separator {
  display: flex;
  flex-flow: row nowrap;
  img {
    width: 30%;
    border-radius: 15px;
  }
  h1 {
    width: 240px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(30, 78, 121);
}

ul.main-points {
  font-size: 28px;
  line-height: 1.4;
}

ul.secondary {
  line-height: 1.4;
}

header > h1 {
  margin-bottom: 0;
}
header > h2 {
  margin-top: 0;
}
h1,
h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}
h1 {
  font-size: 37px;
  font-weight: bold;
}
h2 {
  font-size: 37px;
  font-weight: normal;
}
