* {
  box-sizing: border-box;
}
$fontRobotoMono: "Roboto Mono", monospace;
$fontEverett: "Everett", sans-serif;
$fontHelvetica: Helvetica, Arial, sans-serif;

@mixin small() {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

$maxWidth: 1100px;

$blue50: #ebefff;
$blue100: #e1e7fa;
$blue200: #cbd3f0; // def light
$blue300: #b4bce8;
$blue400: #979fd9;
$blue500: #737cc7;
$blue600: #5a62ba; // def darker
$blue700: #4b5494;
$blue800: #3d446b;
$blue900: #2f354f; // def darkest
$bluecontrastText: #f5f5f5;
$bluedark: #2f354f;
$bluelight: #cbd3f0;
$bluemain: $blue600;

$white: #fff;
$blackmain: #101010;
$blacklight: #f5f5f5;
$black50: #f5f5f5;
$black100: #ededed;
$black200: #e1e1e1;
$black300: #cecece;
$black400: #b8b8b8;
$black500: #929292;
$black600: #737373;
$black700: #595959;
$black800: #3c3c3c;
$black900: #101010;

$yellowmain: #ffe775;
$yellow700: #ff8a57;
$yellow50: #fff7c6;
$yellow100: #fff1a3;
$yellow200: #ffe775;
$yellowcontrastText: #101010;
$yellow300: #ffd46f;
$yellow400: #ffc269;
$yellow500: #ffaf63;
$yellow600: #ff9c5d;
$yellow800: #ff7751;
$yellow900: #ff6242;

$tealLight: #81d5c8;
$tealDark: #437e84;
$pinkLight: #f7e8f0;
$red: #b0004a;
$marginGeneral: 56px;

a {
  text-decoration: none;
  color: $black900;
}

@font-face {
  font-family: "Everett";
  font-weight: normal;
  src: url("fonts/Everett-Regular-web.woff") format("woff");
}
@font-face {
  font-family: "Everett";
  font-weight: 500;
  src: url("fonts/Everett-Medium-web.woff") format("woff");
}
@font-face {
  font-family: "Everett";
  font-weight: bold;
  src: url("fonts/Everett-Bold-web.woff") format("woff");
}
body {
  margin: 0;
}
h1 {
  font-family: "Everett", sans-serif;
  font-weight: 500;
  font-size: 30px;
}
div.inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
}
h1.section-header {
  font-size: 64px;
  font-weight: 400;
}
h2 {
  font-family: "Everett", sans-serif;
  font-weight: 500;
  font-size: 28px;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}
p {
  font-family: Helvetica, Arial, sans-serif;
}
section.page {
  min-height: 600px;
  //height: 100vh;
}
section.section-1 {
  background: #fff;
  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(#{$marginGeneral} - 8px) $marginGeneral;
    .great-heading {
      color: $blackmain;
      display: flex;
      align-items: center;
      flex-direction: row;
      .sunlitesa-logo {
        position: relative;
        top: -1px;
        margin-right: 15px;
      }
      h1 {
        margin: 0;
        letter-spacing: 0.1rem;
      }
    }
  }
  div.unsplash {
    position: relative;
    max-width: 100vw;
    margin: 0 $marginGeneral;
    .unsplash-slogan {
      position: absolute;
      bottom: 62px;
      color: $white;
      margin-left: 117px;
      font-size: 66px;
      font-family: "Everett";
      font-weight: 500;
      span.solar {
        color: $yellowmain;
      }
    }
    img {
      width: 100%;
      max-height: 570px;
      object-fit: cover;
    }
  }
  div.value-proposition {
    margin: 56px 173px;
    display: flex;
    flex-direction: row;
    align-items: center;
    p.label {
      font-size: 20px;
      font-weight: bold;
      width: 300px;
    }
    p.content {
    }
  }
}
section.section-2 {
  background-color: $yellow100;
  padding: 120px 0;

  div.between-page-header {
    margin: 0 173px;
    h1.section-header {
      margin-top: 4px;
    }
  }
  div.preview-link {
    display: flex;
    align-items: center;
    p.link {
      margin: 0;
      font-family: "Everett";
    }
    img.link-arrow {
      margin-left: 10px;
      height: 12px;
    }
  }
}

section.section-3 {
  background-color: $black900;
  height: 600px;
  color: white;
  div.section-3-inner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    div.points {
      //display: flex;
      //flex-direction: column;
      display: grid;
      grid-template-columns: 60px 1fr;
      span.bullet {
        color: $yellow100;
        font-family: $fontRobotoMono;
        position: relative;
        top: -3px;
      }
      span {
        margin-top: 24px;
        font-size: 24px;
        font-family: "Everett";
      }
    }
  }
}

section.section-4 {
  padding-top: 1px;
  background-color: $bluelight;
  div.image {
    display: flex;
    justify-content: center;
    margin: 0 $marginGeneral;
    img.unsplash {
      width: 100%;
      max-width: $maxWidth;
    }
  }
  div.three-points {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    margin: $marginGeneral auto;
    max-width: $maxWidth;
    h3:first-child {
      margin-right: $marginGeneral;
    }
    h3:nth-child(2) {
      margin-right: $marginGeneral;
      margin-left: $marginGeneral;
    }
    h3:last-child {
      margin-left: $marginGeneral;
    }
  }
  div.main-points {
    max-width: $maxWidth;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    li {
      font-family: Helvetica, sans-serif;
    }
  }
  padding-bottom: 120px;
}

section.section-5 {
  div.partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    grid-auto-rows: 200px;
    h3 {
      font-size: 28px;
      font-family: $fontEverett;
    }
    > div {
      min-width: 0;
      div.partners-logo {
        display: flex;
        min-width: 0;
        flex-direction: column;
        align-items: flex-start;
        > * {
          max-width: 100%;
          max-height: 65px;
        }
      }
    }
    > div.innovation-norway {
      grid-column: 2;
      grid-row: 3;
    }
  }
}

section.footer {
  background-color: $black900;
  height: 300px;
  padding-top: 60px;
  div.footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  div.logo {
    margin-left: 56px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    .sunlitesa-logo {
      position: relative;
      top: -1px;
      margin-right: 15px;
    }
    h1 {
      margin: 0;
      letter-spacing: 0.1rem;
    }
  }
  div.copyright {
    margin-left: 120px;
    color: white;
    font-family: $fontHelvetica;
    margin-right: 56px;
  }
}
html * {
  box-sizing: border-box;
}
